.cardsMainSection{
    margin: 120px auto 20px auto;
    width: 70%;
    max-width: 968px;
}
.cardEvent{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}
.eventMain{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.eventName{
    font-size: 18px;
    font-weight: 600;
}
.eventUsername{
    font-size: 14px;
    opacity: 0.7;
}
.points{
    font-weight: 700;
    color: var(--main-color);
    width: 100px;
    text-align: center;
}
.eventImg{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
}
.likes{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    margin: 5px;
}
@media only screen and (max-width: 700px) {
    .cardsMainSection{
        width: 100%;
    }
    .eventImg{
        width: 40px;
        height: 40px;
    }
}