.commCont {
    width: 70%;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.comm {
    width: 330px;
    height: fit-content;
    min-height: 270px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
    padding: 10px;
    border: 2px solid var(--main-color);
}

.commName {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 0;
}

.commText {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.7;
    height: fit-content;
    min-height: 160px;
}

.hearts{
    padding: 10px 0 10px 0;
    color: var(--main-color);
}
.hearts > * {
    margin-right: 3px;
    cursor: pointer;
}


/* Extra large devices (large laptops and desktops, 1200px) */
@media only screen and (max-width: 1200px) {}

/* Large devices (laptops/desktops, 992px) */
@media only screen and (max-width: 992px) {}

/* Medium devices (landscape tablets, 768pxp) */
@media only screen and (max-width: 700px) {
    .commCont{
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px) */
@media only screen and (max-width: 600px) {}