.main {
    margin-top: 100px;
}

.notFound {
    min-height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.colored {
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
    margin-top: 80px;
}

.webCam {
    z-index: 0;
    margin: auto;
}

.button {
    z-index: 2;
}

.primaryButton{
    max-width: 150px;
    text-align: center;
    padding: 5px 15px;
    color: #fff;
    margin: 10px 0 10px 30px;
}
.primaryButton:hover{
    color: var(--main-color);
}